<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="css/user_page_styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
    />
</head>

<body>
<!-- Overlay that appears behind sidebar menu when open -->
<div id="menu-overlay" class="menu-overlay"></div>
<header>
    <div class="hamburger-menu-container">
        <div id="hamburger-menu-icon-container">
            <img id="hamburger-menu" src="/images/hamburger-menu.png" alt="Menu">
        </div>
        <p>Menu</p>
    </div>
    <!-- Sidebar menu container -->
    <div id="side-menu" class="side-menu-hidden">
        <div id="side-menu-header">
            <h2>Menu</h2>
            <div class="icon-container" id="close-side-menu-icon">
                <img src="/images/x-icon.png" alt="Close Menu">
            </div>
        </div>
        <!-- Menu navigation links -->
        <div class="side-menu-content">
            <a href="/index.html" class="side-menu-content-container">
                <div class="icon-container">
                    <img src="images/clothes-icon.png" alt="">
                </div>
                <p>Shop</p>
            </a>
            <a href="/add.html" class="side-menu-content-container add-product-button">
                <div class="icon-container">
                    <img src="images/inventory-icon.png" alt="">
                </div>
                <p>Add Product</p>
            </a>
            <a href="/cart.html" class="side-menu-content-container">
                <div class="icon-container">
                    <img src="images/cart.png" alt="">
                </div>
                <p>Cart</p>
            </a>
            <a href="/login.html"
               class="side-menu-content-container"
               id="side-menu-logout-login-button">
                <div class="icon-container">
                    <img src="images/logout-icon.png" alt="">
                </div>
                <p id="side-menu-logout-login-text">Logout</p>
            </a>
        </div>
    </div>

    <nav class="title-logo-container">
        <h1 id="title-logo"><a href="/index.html">Eddy's Market</a></h1>
    </nav>
    <nav id="nav-buttons">
        <div class="profile-container">
            <div class="profile-pic-container">
                <img src="/images/head-profile-pic.png" alt="">
            </div>
            <div class="username-container">
                <p class="username-display"></p>
            </div>
        </div>
        <a href="/cart.html"
           class="button-container"
           aria-label="View Cart"
        >
            <div class="icon-container">
                <img src="images/cart.png" alt="">
            </div>
            <p>Cart</p>
        </a>

        <a
                href="/login.html"
                class="button-container"
                aria-label="Logout"
                id="nav-logout-login-button"
        >
            <div class="icon-container">
                <img src="images/logout-icon.png" alt="">
            </div>
            <p id="nav-logout-login-text">Logout</p>
        </a>
    </nav>
</header>

<main id="user-container" class="user-container">
    <div class="user-container-card">
        <!--    Your Account    -->
        <h3 class="subtitle">Account</h3>
        <hr />
        <div class="profile-container" id="user-profile-container">
            <div class="profile-pic-container">
                <img src="/images/head-profile-pic.png" alt="">
            </div>
            <div class="username-container">
                <p class="username-display"></p>
            </div>
        </div>

        <!--    Reset Password   -->
        <h3 class="subtitle">Reset Password</h3>
        <hr />
        <div id="error-message-container">
            <p id="error-message"></p>
        </div>
        <form id="updateForm" onsubmit="updateUser(event)" novalidate>
        <div class="form-group">
            <label for="current-password">
                Current Password
                <span class="eye-icon" onclick="togglePassword('current-password')">
                    <img src="images/opened-eye.png" alt="eye icon" id="eye-icon-pass-img"/>
                </span>
            </label>
            <input type="password" id="current-password" name="current-password" required />
            <p id="error-message-curr-pass">Current Password is required</p>
        </div>

        <div class="form-group">
            <label for="new-password">
                New Password
                <span class="eye-icon" onclick="togglePassword('new-password')">
                    <img src="images/opened-eye.png" alt="eye icon" id="eye-icon-confirm-pass-img"/>
                </span>
            </label>
            <input
                    type="password"
                    id="new-password"
                    name="new-password"
                    required
            />
            <p id="error-message-new-pass">New Password is required</p>
        </div>

        <div class="form-group">
            <button type="submit" id="updateButton">Update</button>
        </div>
        </form>
    </div>
</main>
<script src="js/sidebar.js"></script>
<script src="js/login.js" async></script>
<script src="js/user.js" async></script>
</body>
</html>
